<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<!--    修改log4j2配置文件路径，名字不能改-->
<!--    <context-param>-->
<!--        <param-name>log4jConfiguration</param-name>-->
<!--        <param-value>log4j2.xml</param-value>-->
<!--    </context-param>-->

<!--    <listener>-->
<!--        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>-->
<!--    </listener>-->

</web-app>
